@{
  Layout = "_Layout";
}

@model Pierres2.Models.Flavor

<h1>@Html.DisplayFor(model => model.Name)</h1>
<h2>Edit this flavor.</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <input type="submit" value="Edit Flavor">
}

@Html.ActionLink("Return to Flavor list", "Index")