@{
  Layout = "_Layout";
}

<h1>Flavors associated with @Model.Type</h1>

<ul>
@foreach (var join in Model.Flavors)
{
  <li>@Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new {id = join.Flavor.FlavorId})</li>
}
</ul>

@if (User.Identity.IsAuthenticated)
{
  <center>
  @Html.ActionLink("Edit this treat", "Edit", new {id = Model.TreatId}) <span>|</span> 
  @Html.ActionLink("Add a flavor to this treat", "AddFlavor", new {id = Model.TreatId}) <span>|</span>
  @Html.ActionLink("Delete this treat", "Delete", new {id = Model.TreatId})
  </center>
}