@{
  Layout = "_Layout";
}

@model Pierres2.Models.Treat

<h1>@Model.Type</h1>
<h2>Edit this treat.</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.LabelFor(model => model.Type)
  @Html.EditorFor(model => model.Type)
  <input type="submit" value="Edit Treat">
}

@Html.ActionLink("Return to Treat list", "Index")